
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
}

body{
    background-color: #161a29;
}

.sidebar--wrapper{


   background: linear-gradient(45deg, black, #191b52e3);
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.sidebar--wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.bi{
    fill: white;
    transform: scale(1.3);
}

.profile--dashboard_content{
    width: 205px;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-block: 1px solid ffffff85;
    /* margin-top: 10px; */
    /* border: 1px solid white; */
}

.profile--image_container{
    border-radius: 5px;
}

.profile--photo{
    height: 40px;
    border-radius: 5px;
}

.profile--wrapper{
    display: flex;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    align-items:center;

    padding-left: 20px;
}

.horizontal--line-sidebar{

    background-color: #ffffff85;
    border: none;
    height: 1px;
    margin-block: 10px;
}

.profile--dashboard__item{
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 0.1s all ease;
    border-radius: 5px;
    
}

.profile--dashboard__item:hover{
    /* background-color: #353047; */
    background-color: #272777;
    cursor: pointer;
}

.text-white--profile_1{
    color: #ffffffbd;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 0.9rem;
}

.text-white--profile_2{
    font-weight: 400;
    color: white;
    font-family: system-ui;
    margin-left: 10px;
}

.text-white{
    color: #ffffffc4;
    margin-left: 10px;
    font-weight: lighter;

}

.add--project--wrapper{
    border: 2px dotted #ffffff57;
    margin-top: auto;
    display: flex;
    align-items: initial;
    height: 123px;
    border-radius: 10px;
    margin-inline: 10px;
    margin-bottom: 10px;

/* 
    position: fixed;
  left: 0;
  width: 193px;
    
    transform: translate(10px, -15px);
  bottom: 0; */
  /* width: 100%; */
}

.add--project_content{

    width: 100%;
}

.add--button{
    text-align:center;
    margin-top: 30px;
}

.--drag{
    font-size: 0.8rem;
}

.--upload{
    color: white !important;
    margin-top: 5px;
}

.bi-plus-circle-fill{
    fill: rgb(109, 109, 255) !important;
    transform: scale(2);
    box-shadow: 0px 0px 7px #4894ff;
    border-radius: 83px;
}

.horizontal {
    width: 100%;
    height: 1px;
    /* background: linear-gradient(#01f4e4, #01f4e4, transparent); */
    background: rgb(255, 255, 255,0.3);
    border-radius: 43%;
    margin-block: 25px;
}


.add--logo_wrapper{
    border-radius: 50px;
    background-color: #01f4e4;
    box-shadow: 0px 0px 30px #4894ff;

    text-align: center;
    width: 34px;
    margin: 0 auto;
    line-height: 30px;
}
.add--logo{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
}

.dropdown__level--1{

    display: unset;
    transition: all 0.3s ease;
    padding: unset;
    cursor: pointer;
}

.dropdown--item_level--1{
    color: white;
    padding: 10px;
    /* background-color: #17173c; */
    list-style: none;
    font-family: system-ui;
    font-weight: lighter;
    border-radius: 0px 10px 10px 10px;
    margin-block: 0px;
    margin-inline:-1px ;
    
    border-left: 1px solid white;
    cursor: pointer;

}

.border--line{
    border-left: 1px solid white;
    margin-left: 15px;
    border-radius: 0px 10px 10px 10px;
}

/* .border--line:nth-last-child(2){
    border: none;
} */

.dropdown--item_level--1:hover{
    background-color: #232365;
}

.dropdown--level_1{

/* 
    height: 0; */
    /* opacity: 0; */
    display: none;

    transition: all 0.3s ease;
}

.dropdown--level_1{
    transition: all 0.3s ease;
}

.dropdown__level--1:hover .dropdown--level_1{
    /* opacity: 1; */
    display: block;
    /* line-height: fit-content; */
    transition: all 0.3s ease;
}
.dropdown__level--1:hover .bi-caret-down{
    /* opacity: 1; */
    display: block;
    margin-left: auto;
    /* line-height: fit-content; */
    transition: all 0.3s ease;
}

.dropdown__level--1:hover .bi-caret-up{
    /* opacity: 1; */
    display: none;
    margin-left: auto;
    /* line-height: fit-content; */
    transition: all 0.3s ease;
}

.bi-caret-up{
    margin-left: auto;
}

.logo--dropdown--wrapper{
    display: flex;
    padding: 10px;
    align-items: center;
}

/* .bi-caret-down .bi-caret-up{
    margin-left: auto;
} */

.bi-caret-down{
    display: none;
}

.drop--text_level_1{
    margin-left: 10px;
}

.horizontal--1{
    margin-top: 20px;
    margin-bottom: 5px;
}

.ft-light-ui{
    font-family: system-ui;
}

.notifi--{
    color: white;
}

.notification-- {
    background: #3481ff;
    line-height: 20px;
    width: 20px;
    border-radius: 3px;
    display: flex;
    margin-left: auto;
    box-shadow: 0px 0px 10px #4065f9;
    align-items: center;
    justify-content: center;
}

.intro--wrapper{
    display: flex;
    align-items: center;
}

.hello{
    margin-left: 5px;
    color: #f4c747;
}